.table-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  &__inputs-container{
    display: flex;
    max-width: 350px;
  }
  &__input {
    background-color: rgba(93, 94, 92, 0.3);
    padding: 10px;
    &_filtered-name {
      width: 70%;
    }
    &_limit {
      width: 30%;
      border-left: 1px solid black;
      text-align: center;
    }
  }
}
