@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
* {
  padding: 0;
  margin: 0;
  border: 0;
  color: #e9e2bf;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  font-family: 'Roboto Condensed', sans-serif;
  overflow-y: hidden;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  padding: 0;
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  background: none;
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
ul li {
  list-style: none;
}
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

input[type='number'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

#root {
  height: 100vh;
  overflow: scroll;
  background: url(https://ru-wotp.lesta.ru/static/5.130.1_0adccc/wotp_static/img/core/frontend/scss/common/blocks/sparkles/img/portal_background_MT.jpg);
  background-size: contain;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
